   
  <div class="panel-header panel-header-sm">
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              Bookings
            </div>
            <div class="card-body ">
                <flash-messages></flash-messages>
                <table style="border-collapse: collapse;
                border-spacing: 20px;
                width: 100%">
                <tr style="font-size:15px">
                  <th>Vehicle Number</th>
                  <th>Slot type</th>
                  <th>Slot No</th>
                  <th>Date</th>
                  <th>Arrive Time</th>
                  <th>Leave Time</th>
                </tr>
               
                <tr *ngFor="let i of bookings" >
                  <td>{{i.vehicleNum}}</td>
                  <td>{{i.vehicleType}}</td>
                  <td>{{i.slotNum}}</td>
                  <td>{{i.date}}</td>
                  <td>{{i.arivalTime}}</td>
                  <td>{{i.depatureTime}}</td>
                  
                </tr>
                
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    