
<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/8.jpg');">
        <div class="filter"></div>
        
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                    <div class="avatar">
                            <img src="{{pic}}" alt="Circle Image" class="img-thumbnail img-responsive">
                        </div>
                        <!-- <button type="button" class="btn btn-primary btn-just-icon"><i class='fas fa-edit' style='font-size:24px'></i></button> -->
                        <button type="file" rel="tooltip" (click)="editpic()" ngbTooltip="Edit profile picture" data-placement="bottom" type="button"
                            class="btn btn-primary btn-link">
                            <i class='fa fa-edit' style='font-size:36px'></i>
                        </button>
                        <div *ngIf="editpi">
                            <app-keeper-pic></app-keeper-pic>
                        </div>
                <!-- <button type="button" class="btn btn-primary btn-just-icon"><i class='fas fa-edit' style='font-size:24px'></i></button> -->
                <!-- <button type="file" rel="tooltip" (click)="editpic()" ngbTooltip="Edit profile picture" data-placement="bottom" type="button" class="btn btn-primary btn-link"> <i class='fa fa-edit' style='font-size:36px'></i></button> -->
                <!-- <s -->
                <div class="name">
                    <h2 class="title">{{userDetails.parkName}}<br /></h2>
                
                </div>
            </div>
            <div class="row">
                <div *ngIf="ishome()&& home" class="ml-auto mr-auto text-center">
                    
                    <a routerLink="/keeper/details"> <button class="btn btn-outline-default btn-round"><i class="nc-icon nc-simple-add"></i>Details</button></a>
                </div>
                <div  *ngIf="ishome()&& home" class="ml-auto mr-auto text-center">
                    
                       <a routerLink="/keeper/slot"><button (click)="slotmode()" class="btn btn-outline-default btn-round"><i class="nc-icon nc-bank"></i> Parking Slot</button></a> 
                </div>
                <div  *ngIf="ishome() && home" class="ml-auto mr-auto text-center">
                    
                   <a routerLink="/keeper/booking"><button  class="btn btn-outline-default btn-round"><i class="nc-icon nc-pin-3"></i> Booking details</button></a> 
                </div>
                <div  *ngIf="ishome() && home" class="ml-auto mr-auto text-center">
                    
                   <a routerLink="/keeper/recent"><button  class="btn btn-outline-default btn-round"><i class="nc-icon nc-simple-add"></i> Recent activities</button></a> 
                </div>
                <div  *ngIf="isslot()" class="ml-auto mr-auto text-center">
                    <a routerLink="/keeper"><button (click)="gohome()" class="btn btn-outline-default btn-round"><i class="nc-icon nc-simple-add"></i> Home</button></a> 
                </div>
                <div  *ngIf="isslot()" class="ml-auto mr-auto text-center">
                    
                    <a routerLink="/keeper/car"><button  class="btn btn-outline-default btn-round"><i class="nc-icon nc-simple-add"></i>car and Van</button></a> 
                 </div>
                 <div  *ngIf="isslot()" class="ml-auto mr-auto text-center">
                    
                    <a routerLink="/keeper/bike"><button  class="btn btn-outline-default btn-round"><i class="nc-icon nc-simple-add"></i>Bikes</button></a> 
                 </div>
                 <div  *ngIf="isslot()" class="ml-auto mr-auto text-center">
                    
                    <a routerLink="/keeper/lorry"><button  class="btn btn-outline-default btn-round"><i class="nc-icon nc-simple-add"></i>Busses and Lorries</button></a> 
                </div>
                <div  *ngIf="isslot()" class="ml-auto mr-auto text-center">
                    
                    <a routerLink="/keeper/weel"><button  class="btn btn-outline-default btn-round"><i class="nc-icon nc-simple-add"></i>Three Wheelers</button></a> 
                 </div>
                 <div  *ngIf="isslot()" class="ml-auto mr-auto text-center">
                    
                    <a routerLink="/keeper/longVehicle"><button  class="btn btn-outline-default btn-round"><i class="nc-icon nc-simple-add"></i>Long</button></a> 
                 </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                        <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>

