<div class="panel-header panel-header-sm">
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Progress</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Park Keeper Name
                  </th>
                  <th>
                    Park Name
                  </th>
                  <th>
                    Total Revenue
                  </th>
                  <th class="text-right">
  
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let keeper of keepers">
                    <td>
                      {{ keeper.name }}
                    </td>
                    <td>
                      {{ keeper.parkName }}
                    </td>
                    <td>
                        Rs. {{keeper.monthrev}}
                       </td>
                  </tr>
  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>