<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/5.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                        
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                        <div class="card card-register">
                            <h3 class="title">Welcome</h3>
                            <!-- <div class="social-line text-center">
                                <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div> -->
                            <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)" class="register-form">
                                <label>Email</label>
                                <input class="form-control" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="email" name="email" type="text" placeholder="Email" [(ngModel)]="model.email">
                                <div *ngIf="signInForm.submitted && email.errors?.pattern">
                                    <label class="validation-message">Invalid email address.</label>
                                  </div>
                                  <input class="form-control" #password="ngModel" pattern=".{6,}" required id="password" name="password" type="password" placeholder="Password" [(ngModel)]="model.password">   
                                  <div *ngIf="signInForm.submitted && password.errors?.minlength">
                                    <label class="validation-message">Minimum 4 characters.</label>
                                  </div>
                                  <ngb-alert *ngIf="message" type="danger"  [dismissible]="false">
                                        <div class="container">
                                            <ng-container>
                                                <i class="nc-icon nc-bell-55"></i>
                                            </ng-container>
                                            {{serverErrorMessages}}
                                            <button type="button" name="button" class="close" (click)="closeAlert()">
                                                <i class="nc-icon nc-simple-remove"></i>
                                            </button>
                                        </div>
                                    
                                    </ngb-alert>
                                    
                                      <input type="checkbox" id="isKeeper"name="isKeeper" [(ngModel)]="isKeeper"/> Are you a Keeper

                                <!-- <button class="btn btn-danger btn-block btn-round">Register</button> -->
                                <input type="submit" class="btn btn-danger btn-block btn-round" value="Sign In">
                            </form>
                            <div class="forgot">
                                <a routerLink="/resetpassword" class="btn btn-link btn-danger">Forgot password?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;{{test | date: 'yyyy'}}, made with  Park Here Team</h6>
                </div>
            </div>
    </div>
</div>
