<div class="panel-header panel-header-sm">
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Reported Parks</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Name
                  </th>
                  <th>
                    owner name
                  </th>
                  <th>
                    Park
                  </th>
                  <th class="text-right">
                    
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let keeper of keepers">
                    <td>
                      {{ keeper.name }}
                    </td>
                    <td>
                      
                      <button type="button" (click)="profile(keeper.ownerid)" class="btn btn-outline-primary btn-round">{{ keeper.owner }}</button>
                    </td>
                    <td>
                        <button type="button" (click)="parkPro(keeper.id)" class="btn btn-outline-primary btn-round">Show park</button>
                        <!-- <button type="button" class="btn btn-danger btn-round">close</button> -->
                      
                    </td>
                    <td class="text-right">
                        <button type="button" (click)="reject(keeper.id)" class="btn btn-danger btn-round">Reject</button>
                      </td>
                    <td class="text-right">
                      <button type="button" (click)="accept(keeper.id)" class="btn btn-info btn-round">Accept</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  