<div class="wrapper">
    <div class="page-header page-header-xs"  data-parallax="true" style="background-image: url('./assets/img/ownerwall.jpg');">
        <div class="filter"></div>
        
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="{{pic}}" alt="Circle Image" class="img-thumbnail img-responsive">
                </div>
                <!-- <button type="button" class="btn btn-primary btn-just-icon"><i class='fas fa-edit' style='font-size:24px'></i></button> -->
                <button type="file" rel="tooltip" (click)="editpic()" ngbTooltip="Edit profile picture" data-placement="bottom" type="button"
                    class="btn btn-primary btn-link">
                    <i class='fa fa-edit' style='font-size:36px'></i>
                </button>
                <div *ngIf="editpi">
                    <app-editpropic></app-editpropic>
                </div>
                <div class="name">
                    <h2 class="title">{{userDetails.firstName}} {{userDetails.lastName}}
                        <br />
                    </h2>

                </div>
            </div>
            <div class="row">
                <div *ngIf="ishome() && isuser()" class="ml-auto mr-auto text-center">

                    <a routerLink="/user-profile/regkeeper">
                        <button class="btn btn-outline-default btn-round">
                            <i class="nc-icon nc-simple-add"></i> Add Park</button>
                    </a>
                </div>
                <div *ngIf="ishome()" class="ml-auto mr-auto text-center">

                    <a routerLink="/user-profile/myparks">
                        <button class="btn btn-outline-default btn-round">
                            <i class="nc-icon nc-bank"></i> My Parks</button>
                    </a>
                </div>
                <div *ngIf="ishome()" class="ml-auto mr-auto text-center">

                    <a routerLink="/user-profile/map">
                        <button class="btn btn-outline-default btn-round">
                            <i class="nc-icon nc-pin-3"></i>Map</button>
                    </a>
                </div>
                
                <div *ngIf="ishome()" class="ml-auto mr-auto text-center">

                    <a routerLink="/user-profile/progress">
                        <button class="btn btn-outline-default btn-round">
                            <i class="nc-icon nc-simple-add"></i> Progress</button>
                    </a>
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">


                    <!-- <ngb-tab routerLink="/userprofile/userHome" title="Send">
                            <ng-template ngbTabContent >
                                
                                    <router-outlet></router-outlet>
                                    </ng-template>
                        </ngb-tab>
                        <ngb-tab routerLink="/userprofile/gallery" title="Receive">
                            <ng-template ngbTabContent>
                                <router-outlet></router-outlet>
                            </ng-template>
                        </ngb-tab> -->

                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>