<div class="page-header" data-parallax="true" style="background-image: url('assets/img/mainpic.jpg')">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="presentation-title">
        <b>PARK HERE</b>
      </h1>
      <h3>Assuring Your Secure and Pleasure</h3>
      <br />

    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">
            <b>What is PARK HERE?</b>
          </h2>
          <h5 style="color:black">Are you get confusing when parking your vehicle somewhere?</h5>
          <h5 style="color:black">Now it’s time to change your way. Solution PARK HERE</h5>
          <h5 style="color:black">We assure your safety and the best ever experience with parking</h5>
          <br>

        </div>
      </div>
      <br/>
      <br/>
      <div class="row">
        <div class="col-md-6">
          <div class="info">
            <div class="icon icon-danger">
                <i class='fas fa-globe' style='font-size:48px'></i>
            </div>
            <div class="description">
              <h4 class="info-title">
                <b>Our Mission</b>
              </h4>
              <p class="description" style="color:black">"To provide a secure, and pleasurable environment to park your vehicle with effient and relaiable manner</p>

            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="info">
            <div class="icon icon-danger">
              <i class='far fa-handshake' style='font-size:48px;'></i>
            </div>
            <div class="description">
              <h4 class="info-title">
                <b>Our Vision</b>
              </h4>
              <p style="color:black">Beyond the boundaries make the best plase in your heart as the most realiable and effienet parking system in
                Sri Lanka</p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">To be connected</h2>
      <br>

      <div class="row">
        <div class="col-md-12">
          <div class="card card-profile card-plain">
            <div class="card-avatar">

            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                    <div class="icon icon-danger">
                        <i class='fas fa-phone-volume' style='font-size:48px;color:red'></i>
                      </div>
                  <h4 class="card-title">Contact Us</h4>
                  
                    <br>
                    <h6 class="card-category">Address- University of Moratuwa, Katubedda, Sri Lanka</h6>
                  <h6 class="card-category">Tel - +94 71 765 7216</h6>
                  <h6 class="card-category">E-mail- parkhere@gmail.com</h6>
                  
                </div>
              </a>

            </div>
         